/*reset styles*/
html, body, h1, h2, h3, h4, h5, h6, div, span, p, pre, hr, em, strong, b, i, a,
acronym, applet, address, dfn, tt, var, kbd, samp, ruby,
blockquote, q, cite, ins, del, s, strike, u, sub, sup, big, small, abbr, center,
table, tr, th, td, caption, thead, tbody, tfoot,
form, input, label, textarea, button, fieldset, legend, select, canvas,
article, section, footer, header, main, hgroup, nav, aside, audio, video,
details, summary, menu, output, figure, figcaption, time, mark, embed,
ul, ol, li, dl, dt, dd, code, img, iframe, object { margin: 0; padding: 0; }
article, section, aside, footer, header, hgroup, main, nav,
menu, details, summary, figure, figcaption { display: block; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
html, body { height: 100%; }
body { font: 16px/1.4 Arial, sans-serif; color: #000; background: #fff; }
a { color: #0081FF; text-decoration: underline; cursor: pointer; }
a:hover { text-decoration: none; }
h1 { font-size: 26px; }
h2 { font-size: 15px; }
h3 { font-size: 13px; }
h4 { font-size: 12px; }
h1, h2, h3, h4 { line-height: 1.2; }
li { margin-left: 25px; }
b, strong { font-weight: bold; }
img { border: 0; max-width: 100%; }
hr { box-sizing: content-box; height: 0; }
table { border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; padding: 0; }
sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 1;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace; font-size: 1em; }
fieldset { border: 0; }
input { vertical-align: middle; }
input[type="text"],
input[type="email"],
input[type="tel"],
textarea { -webkit-appearance: none; }
input[type="button"],
input[type="submit"],
input[type="reset"],
button { cursor: pointer; overflow: visible; -webkit-appearance: button; }
button[disabled], input[disabled] { cursor: default; }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"] {
  padding: 2px 6px;
  border: 1px solid #787878;
  background: #fff;
  font: inherit; color: inherit;
}
textarea {
  vertical-align: top;
  padding: 3px 6px;
  overflow: auto;
  border: 1px solid #787878;
  background: #fff;
  font: inherit; color: inherit;
}
select {
  vertical-align: middle;
  border: 1px solid #787878;
  background: #fff;
  font: inherit; color: inherit;
}
input::-webkit-input-placeholder { color: #ccc !important; }
input::-moz-placeholder { color: #ccc !important; }
input:-ms-input-placeholder { color: #ccc !important; }

/*default styles react*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
